### Exploração de Dados

- Notebook dedicado a exploração dos dados
- Atualmente esse notebook é um rascunho de algumas consultas

In [2]:
import pandas as pd

In [2]:
df_sentinela = pd.read_csv("Dados/servicos_sentinelas.csv")

In [4]:
df_sentinela.value_counts()

SERVICO                                            MUNICIPIO       UF  cod_municipio
ACSC -Casa de Saúde São José                       Rio de Janeiro  RJ  3304557          1
Hospital Universitário de Santa Maria              Santa Maria     RS  2409332          1
Hospital Vita Volta Redonda                        Volta Redonda   RJ  3306305          1
Hospital da Criança Conceição                      Porto Alegre    RS  4314902          1
Hospital da Cruz Vermelha –Filial do Paraná        Curitiba        PR  4106902          1
                                                                                       ..
Hospital Municipal Vereador José Storopoli / SPDM  São Paulo       SP  3550308          1
Hospital Municipal Vila Santa Catarina -HMVSC      São Paulo       SP  3550308          1
Hospital Mãe de Deus                               Porto Alegre    RS  4314902          1
Hospital Napoleão Laureano                         João Pessoa     PB  2507507          1
Unimed Blumenau-Hospital Unidade Vila Nova         Blumenau        SC  4202404          1
Length: 262, dtype: int64

In [8]:
df_rod_hid = pd.read_csv("Dados/lig_rodo_hidro.csv", index_col=0)
df_rod_hid.head(5)

,ID,COD_UF_A,UF_A,CODMUNDV_A,NOMEMUN_A,COD_UF_B,UF_B,CODMUNDV_B,NOMEMUN_B,VAR01,...,VAR05,VAR06,VAR07,VAR08,VAR09,VAR10,VAR11,VAR12,VAR13,VAR14
0,13026031304260,13,AM,1302603,Manaus,13,AM,1304260,Uarini,Núcleo de Metrópole (Manaus),...,7.5,0.0,7.5,-60.023335,-3.134691,-65.155346,-2.983609,0.0,Não,0.023148
1,13021081302603,13,AM,1302108,Japurá,13,AM,1302603,Manaus,Centro Local,...,3.0,0.0,3.0,-66.996903,-1.880845,-60.023335,-3.134691,3.0,Não,0.026620
2,51038095108402,51,MT,5103809,Figueirópolis D'Oeste,51,MT,5108402,Várzea Grande,Centro Local,...,0.0,42.0,42.0,-58.737825,-15.446135,-56.144664,-15.658065,0.0,Sim,0.028000
3,13000291302603,13,AM,1300029,Alvarães,13,AM,1302603,Manaus,Centro Local,...,7.5,0.0,7.5,-64.813535,-3.216584,-60.023335,-3.134691,0.0,Não,0.031250
4,13000291301308,13,AM,1300029,Alvarães,13,AM,1301308,Codajás,Centro Local,...,6.0,0.0,6.0,-64.813535,-3.216584,-62.063430,-3.843046,0.0,Não,0.036232

In [18]:
df_rod_hid.shape

(65638, 23)

In [24]:
df_rod_hid[(df_rod_hid["NOMEMUN_A"]=="Recife")]

,ID,COD_UF_A,UF_A,CODMUNDV_A,NOMEMUN_A,COD_UF_B,UF_B,CODMUNDV_B,NOMEMUN_B,VAR01,...,VAR05,VAR06,VAR07,VAR08,VAR09,VAR10,VAR11,VAR12,VAR13,VAR14
947,26116062615300,26,PE,2611606,Recife,26,PE,2615300,Timbaúba,Núcleo de Metrópole (Recife),...,0.0,186.0,186.0,-34.888942,-8.062762,-35.318772,-7.511746,0.0,Não,0.088235
1561,26116062613800,26,PE,2611606,Recife,26,PE,2613800,São Vicente Ferrer,Núcleo de Metrópole (Recife),...,0.0,86.0,86.0,-34.888942,-8.062762,-35.490122,-7.592213,0.0,Não,0.097619
1894,26116062616308,26,PE,2611606,Recife,26,PE,2616308,Vicência,Núcleo de Metrópole (Recife),...,0.0,72.0,72.0,-34.888942,-8.062762,-35.320301,-7.652959,0.0,Não,0.100000
3410,26116062615508,26,PE,2611606,Recife,26,PE,2615508,Tracunhaém,Núcleo de Metrópole (Recife),...,0.0,299.0,299.0,-34.888942,-8.062762,-35.237923,-7.802689,0.0,Não,0.111111
3836,26116062612505,26,PE,2611606,Recife,26,PE,2612505,Santa Cruz do Capibaribe,Núcleo de Metrópole (Recife),...,0.0,28.0,28.0,-34.888942,-8.062762,-36.203950,-7.955190,0.0,Não,0.113929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52949,26116062616001,26,PE,2611606,Recife,26,PE,2616001,Venturosa,Núcleo de Metrópole (Recife),...,0.0,6.0,6.0,-34.888942,-8.062762,-36.878372,-8.576527,0.0,Não,0.247917
54380,26116064108304,26,PE,2611606,Recife,41,PR,4108304,Foz do Iguaçu,Núcleo de Metrópole (Recife),...,0.0,2.0,2.0,-34.888942,-8.062762,-54.587102,-25.542493,0.0,Não,0.252866
57321,26116063148103,26,PE,2611606,Recife,31,MG,3148103,Patrocínio,Núcleo de Metrópole (Recife),...,0.0,31.0,31.0,-34.888942,-8.062762,-46.997438,-18.940813,0.0,Não,0.269799
62939,26116062705101,26,PE,2611606,Recife,27,AL,2705101,Matriz de Camaragibe,Núcleo de Metrópole (Recife),...,0.0,28.0,28.0,-34.888942,-8.062762,-35.533555,-9.158526,0.0,Não,0.332222
63817,26116062612000,26,PE,2611606,Recife,26,PE,2612000,Sairé,Núcleo de Metrópole (Recife),...,0.0,217.0,217.0,-34.888942,-8.062762,-35.710248,-8.327614,0.0,Não,0.350000

## Verificando incoscistência na base Região de Saúde

In [3]:
#Dados coletados por nós inicialmente
df_regiao_saude = pd.read_csv('data/regiao_saude_geo.csv', sep=",")
df_regiao_saude.columns = names=["cod_reg_saude", "nome_reg_saude", "latitude", "longitude", "limite_geografico"]
# df_regiao_saude.head()

#Dados coletados DataSus
df_saude = pd.read_csv('data/tb_regsaud.csv', sep=",", encoding='latin1')
# df_saude.head()
df_saude_ativo = df_saude[df_saude.CO_STATUS == "ATIVO"]
df_saude_ativo.shape

(450, 6)

In [4]:
df_merge = df_saude_ativo.merge(df_regiao_saude[['cod_reg_saude','nome_reg_saude']], how='outer', left_on='CO_REGSAUD', right_on='cod_reg_saude')
df_merge.shape

(452, 8)

In [5]:
df_merge[df_merge["cod_reg_saude"].isnull()]

,CO_REGSAUD,CO_STATUS,DS_NOME,DS_NOMEPAD,DS_ABREV,NU_ORDEM,cod_reg_saude,nome_reg_saude
267,32001.0,ATIVO,Central,CENTRAL,Central,1.0,NaN,NaN
269,32003.0,ATIVO,Norte,NORTE,Norte,1.0,NaN,NaN

In [6]:
df_merge[df_merge["CO_REGSAUD"].isnull()]

,CO_REGSAUD,CO_STATUS,DS_NOME,DS_NOMEPAD,DS_ABREV,NU_ORDEM,cod_reg_saude,nome_reg_saude
450,NaN,NaN,NaN,NaN,NaN,NaN,32005.0,Central Norte
451,NaN,NaN,NaN,NaN,NaN,NaN,42017.0,vale do itapocú