In [1]:
import pandas as pd
import os
import glob

path = os.getcwd()
csv_files = glob.glob(os.path.join("/Users/lucas/Desktop/ufrpe/Untitled Folder/passagens", "*.csv"))
vendas_df=pd.DataFrame()

for f in csv_files:
    df = pd.read_csv(f,encoding='latin1',sep=";")
    vendas_df = pd.concat([vendas_df, df], axis=0)
    
#vendas_df = pd.read_csv("venda_passagem_02_2019.csv",encoding='latin1',sep=";")
municipios = pd.read_csv("municipio.csv",sep=",") 

display(vendas_df)

vendas_df.columns = ['MesEmissão','MesViagem','Origem','Destino','UFOrigem','UFDestino','mediavalor','dpvalototal','QuantidaDeBilhetes']


vendas_df = vendas_df.drop('mediavalor', axis=1)
vendas_df = vendas_df.drop('dpvalototal', axis=1)

municipios = municipios.drop('latitude', axis=1)
municipios = municipios.drop('longitude', axis=1)
municipios = municipios.drop('populacao_2011', axis=1)
municipios = municipios.drop('populacao_2021', axis=1)
municipios = municipios.drop('area', axis=1)
municipios = municipios.drop('nome_uf', axis=1)
municipios = municipios.drop('cod_reg_saude', axis=1)
municipios = municipios.drop('densidade_2021', axis=1)
municipios = municipios.drop('cod_uf', axis=1)

vendas_df["Origem"],vendas_df["UFOrigem"] = vendas_df["Origem"].str.split('/').str
vendas_df["Destino"],vendas_df["UFDestino"]= vendas_df["Destino"].str.split('/').str

vendas_df = vendas_df[['MesEmissão','MesViagem','Origem','UFOrigem','Destino','UFDestino','QuantidaDeBilhetes']]

display(vendas_df)
display(municipios)

,mes_emissao_bilhete,mes_viagem,ponto_origem_viagem,ponto_destino_viagem,tipo_servico,tipo_gratuidade,media_valor_total,dp_valor_total,quantidade_bilhetes
0,01/2019,01/2019,ABADIANIA/GO,BRASILIA/DF,Convencional com sanitário,"Bilhete de Viagem do Idoso 50% - Inciso II, ar...",12.78,0.00,2
1,01/2019,01/2019,ABELARDO LUZ/SC,CAMPINAS/SP,Semileito,Tarifa Normal - sem desconto,247.34,0.00,2
2,01/2019,01/2019,ABELARDO LUZ/SC,CLEVELANDIA/PR,Executivo,Tarifa Normal - sem desconto,9.47,0.00,83
3,01/2019,01/2019,ABELARDO LUZ/SC,CONCORDIA/SC,Convencional com sanitário,Tarifa Normal - sem desconto,31.23,0.00,3
4,01/2019,01/2019,ABELARDO LUZ/SC,IRAI/RS,Convencional com sanitário,Tarifa Normal - sem desconto,36.20,0.00,1
...,...,...,...,...,...,...,...,...,...
129320,12/2019,01/2020,VITORIA/ES,SAO PAULO/SP,Convencional com sanitário,"Tarifa Promocional - Parágrafo 3º, art. 27 do ...",172.28,165.57,174
129321,12/2019,01/2020,SAO JOSE DOS CAMPOS/SP,RIO DE JANEIRO/RJ,Executivo,"Gratuidade de Criança - Inciso XVII, art. 29 d...",0.00,0.00,1
129322,12/2019,12/2019,FORTALEZA/CE,NATAL/RN,Convencional com sanitário,Tarifa Normal - sem desconto,88.66,30.28,67
129323,12/2019,12/2019,CUNHA PORA/SC,SAO LUIZ GONZAGA/RS,Executivo,Tarifa Normal - sem desconto,37.99,3.45,14
129324,12/2019,01/2020,PRESIDENTE PRUDENTE/SP,LONDRINA/PR,Convencional com sanitário,Passe Livre Auditores e Agentes do Trabalho - ...,3.73,0.00,6

C:\Users\lucas\AppData\Local\Temp\ipykernel_7604\3945485101.py:34: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  vendas_df["Origem"],vendas_df["UFOrigem"] = vendas_df["Origem"].str.split('/').str
C:\Users\lucas\AppData\Local\Temp\ipykernel_7604\3945485101.py:35: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  vendas_df["Destino"],vendas_df["UFDestino"]= vendas_df["Destino"].str.split('/').str

,MesEmissão,MesViagem,Origem,UFOrigem,Destino,UFDestino,QuantidaDeBilhetes
0,01/2019,01/2019,ABADIANIA,GO,BRASILIA,DF,2
1,01/2019,01/2019,ABELARDO LUZ,SC,CAMPINAS,SP,2
2,01/2019,01/2019,ABELARDO LUZ,SC,CLEVELANDIA,PR,83
3,01/2019,01/2019,ABELARDO LUZ,SC,CONCORDIA,SC,3
4,01/2019,01/2019,ABELARDO LUZ,SC,IRAI,RS,1
...,...,...,...,...,...,...,...
129320,12/2019,01/2020,VITORIA,ES,SAO PAULO,SP,174
129321,12/2019,01/2020,SAO JOSE DOS CAMPOS,SP,RIO DE JANEIRO,RJ,1
129322,12/2019,12/2019,FORTALEZA,CE,NATAL,RN,67
129323,12/2019,12/2019,CUNHA PORA,SC,SAO LUIZ GONZAGA,RS,14
129324,12/2019,01/2020,PRESIDENTE PRUDENTE,SP,LONDRINA,PR,6

      cod_mun             nome_mun   uf pais
0     5200050      Abadia de Goiás   GO  BRA
1     3100104  Abadia dos Dourados   MG  BRA
2     5200100            Abadiânia   GO  BRA
3     3100203               Abaeté   MG  BRA
4     1500107           Abaetetuba   PA  BRA
...       ...                  ...  ...  ...
5600  9100592                Rocha  NaN  URU
5601  9100588             Paysandú  NaN  URU
5602  9100596           Tacuarembo  NaN  URU
5603  8000096              Rosario  NaN  ARG
5604  9100591               Rivera  NaN  URU

[5605 rows x 4 columns]

In [2]:
from unicodedata import normalize
def match_codigo(cidade):
    return (normalize('NFKD', cidade).encode('ASCII','ignore').decode('ASCII')).upper()

municipios["cidade"] = municipios.apply(lambda linha: match_codigo(linha.nome_mun), axis= 1)
display(municipios)

      cod_mun             nome_mun   uf pais               cidade
0     5200050      Abadia de Goiás   GO  BRA      ABADIA DE GOIAS
1     3100104  Abadia dos Dourados   MG  BRA  ABADIA DOS DOURADOS
2     5200100            Abadiânia   GO  BRA            ABADIANIA
3     3100203               Abaeté   MG  BRA               ABAETE
4     1500107           Abaetetuba   PA  BRA           ABAETETUBA
...       ...                  ...  ...  ...                  ...
5600  9100592                Rocha  NaN  URU                ROCHA
5601  9100588             Paysandú  NaN  URU             PAYSANDU
5602  9100596           Tacuarembo  NaN  URU           TACUAREMBO
5603  8000096              Rosario  NaN  ARG              ROSARIO
5604  9100591               Rivera  NaN  URU               RIVERA

[5605 rows x 5 columns]

In [3]:
left = vendas_df
right = municipios
df_final = pd.merge(
    left,
    right,
    how="left",
    left_on=['Origem','UFOrigem'],
    right_on=['cidade','uf'],    
    left_index=False,
    right_index=False,
    suffixes=("_l", "_r"),
)
display(df_final)

left = df_final
right = municipios
df_final1 = pd.merge(
    left,
    right,
    how="left",
    left_on=['Destino','UFDestino'],
    right_on=['cidade','uf'],    
    left_index=False,
    right_index=False,
    suffixes=("_l", "_r"),
)

display(df_final1)

,MesEmissão,MesViagem,Origem,UFOrigem,Destino,UFDestino,QuantidaDeBilhetes,cod_mun,nome_mun,uf,pais,cidade
0,01/2019,01/2019,ABADIANIA,GO,BRASILIA,DF,2,5200100.0,Abadiânia,GO,BRA,ABADIANIA
1,01/2019,01/2019,ABELARDO LUZ,SC,CAMPINAS,SP,2,4200101.0,Abelardo Luz,SC,BRA,ABELARDO LUZ
2,01/2019,01/2019,ABELARDO LUZ,SC,CLEVELANDIA,PR,83,4200101.0,Abelardo Luz,SC,BRA,ABELARDO LUZ
3,01/2019,01/2019,ABELARDO LUZ,SC,CONCORDIA,SC,3,4200101.0,Abelardo Luz,SC,BRA,ABELARDO LUZ
4,01/2019,01/2019,ABELARDO LUZ,SC,IRAI,RS,1,4200101.0,Abelardo Luz,SC,BRA,ABELARDO LUZ
...,...,...,...,...,...,...,...,...,...,...,...,...
1077880,12/2019,01/2020,VITORIA,ES,SAO PAULO,SP,174,3205309.0,Vitória,ES,BRA,VITORIA
1077881,12/2019,01/2020,SAO JOSE DOS CAMPOS,SP,RIO DE JANEIRO,RJ,1,3549904.0,São José dos Campos,SP,BRA,SAO JOSE DOS CAMPOS
1077882,12/2019,12/2019,FORTALEZA,CE,NATAL,RN,67,2304400.0,Fortaleza,CE,BRA,FORTALEZA
1077883,12/2019,12/2019,CUNHA PORA,SC,SAO LUIZ GONZAGA,RS,14,4204707.0,Cunha Porã,SC,BRA,CUNHA PORA
1077884,12/2019,01/2020,PRESIDENTE PRUDENTE,SP,LONDRINA,PR,6,3541406.0,Presidente Prudente,SP,BRA,PRESIDENTE PRUDENTE

,MesEmissão,MesViagem,Origem,UFOrigem,Destino,UFDestino,QuantidaDeBilhetes,cod_mun_l,nome_mun_l,uf_l,pais_l,cidade_l,cod_mun_r,nome_mun_r,uf_r,pais_r,cidade_r
0,01/2019,01/2019,ABADIANIA,GO,BRASILIA,DF,2,5200100.0,Abadiânia,GO,BRA,ABADIANIA,5300108.0,Brasília,DF,BRA,BRASILIA
1,01/2019,01/2019,ABELARDO LUZ,SC,CAMPINAS,SP,2,4200101.0,Abelardo Luz,SC,BRA,ABELARDO LUZ,3509502.0,Campinas,SP,BRA,CAMPINAS
2,01/2019,01/2019,ABELARDO LUZ,SC,CLEVELANDIA,PR,83,4200101.0,Abelardo Luz,SC,BRA,ABELARDO LUZ,4105706.0,Clevelândia,PR,BRA,CLEVELANDIA
3,01/2019,01/2019,ABELARDO LUZ,SC,CONCORDIA,SC,3,4200101.0,Abelardo Luz,SC,BRA,ABELARDO LUZ,4204301.0,Concórdia,SC,BRA,CONCORDIA
4,01/2019,01/2019,ABELARDO LUZ,SC,IRAI,RS,1,4200101.0,Abelardo Luz,SC,BRA,ABELARDO LUZ,4310504.0,Iraí,RS,BRA,IRAI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1077880,12/2019,01/2020,VITORIA,ES,SAO PAULO,SP,174,3205309.0,Vitória,ES,BRA,VITORIA,3550308.0,São Paulo,SP,BRA,SAO PAULO
1077881,12/2019,01/2020,SAO JOSE DOS CAMPOS,SP,RIO DE JANEIRO,RJ,1,3549904.0,São José dos Campos,SP,BRA,SAO JOSE DOS CAMPOS,3304557.0,Rio de Janeiro,RJ,BRA,RIO DE JANEIRO
1077882,12/2019,12/2019,FORTALEZA,CE,NATAL,RN,67,2304400.0,Fortaleza,CE,BRA,FORTALEZA,2408102.0,Natal,RN,BRA,NATAL
1077883,12/2019,12/2019,CUNHA PORA,SC,SAO LUIZ GONZAGA,RS,14,4204707.0,Cunha Porã,SC,BRA,CUNHA PORA,4318903.0,São Luiz Gonzaga,RS,BRA,SAO LUIZ GONZAGA
1077884,12/2019,01/2020,PRESIDENTE PRUDENTE,SP,LONDRINA,PR,6,3541406.0,Presidente Prudente,SP,BRA,PRESIDENTE PRUDENTE,4113700.0,Londrina,PR,BRA,LONDRINA

In [4]:
df_final1 = df_final1.drop('nome_mun_l', axis=1)
df_final1 = df_final1.drop('uf_l', axis=1)
df_final1 = df_final1.drop('pais_l', axis=1)
df_final1 = df_final1.drop('cidade_l', axis=1)
df_final1 = df_final1.drop('nome_mun_r', axis=1)
df_final1 = df_final1.drop('uf_r', axis=1)
df_final1 = df_final1.drop('pais_r', axis=1)
df_final1 = df_final1.drop('MesEmissão', axis=1)
df_final1 = df_final1.drop('cidade_r', axis=1)
df_final1["origem"] = df_final1["Origem"] +"/"+ df_final1["UFOrigem"]
df_final1["destino"] = df_final1["Destino"] +"/"+ df_final1["UFDestino"]
df_final1 = df_final1.drop('Origem', axis=1)
df_final1 = df_final1.drop('Destino', axis=1)
df_final1 = df_final1.drop('UFOrigem', axis=1)
df_final1 = df_final1.drop('UFDestino', axis=1)
display(df_final1)
df = df_final1.groupby(['origem','destino','MesViagem']).agg({'QuantidaDeBilhetes':'sum','cod_mun_l':'max','cod_mun_r':'max'})

display(df)
df.to_csv("rodoviariosFinal.csv")

,MesViagem,QuantidaDeBilhetes,cod_mun_l,cod_mun_r,origem,destino
0,01/2019,2,5200100.0,5300108.0,ABADIANIA/GO,BRASILIA/DF
1,01/2019,2,4200101.0,3509502.0,ABELARDO LUZ/SC,CAMPINAS/SP
2,01/2019,83,4200101.0,4105706.0,ABELARDO LUZ/SC,CLEVELANDIA/PR
3,01/2019,3,4200101.0,4204301.0,ABELARDO LUZ/SC,CONCORDIA/SC
4,01/2019,1,4200101.0,4310504.0,ABELARDO LUZ/SC,IRAI/RS
...,...,...,...,...,...,...
1077880,01/2020,174,3205309.0,3550308.0,VITORIA/ES,SAO PAULO/SP
1077881,01/2020,1,3549904.0,3304557.0,SAO JOSE DOS CAMPOS/SP,RIO DE JANEIRO/RJ
1077882,12/2019,67,2304400.0,2408102.0,FORTALEZA/CE,NATAL/RN
1077883,12/2019,14,4204707.0,4318903.0,CUNHA PORA/SC,SAO LUIZ GONZAGA/RS
1077884,01/2020,6,3541406.0,4113700.0,PRESIDENTE PRUDENTE/SP,LONDRINA/PR

                                                    QuantidaDeBilhetes  \
origem                 destino           MesViagem
ABADIA DOS DOURADOS/MG CAMPINAS/SP       05/2019                     1
                       SAO PAULO/SP      07/2019                     1
ABADIANIA/GO           ALEXANIA/GO       01/2019                    65
                                         02/2019                    41
                                         03/2019                    67
...                                                                ...
ZORTEA/SC              BELO HORIZONTE/MG 11/2019                     1
                                         12/2019                    22
                       FLORIANOPOLIS/SC  01/2020                    21
                                         11/2019                    39
                                         12/2019                   396

                                                    cod_mun_l  cod_mun_r
origem                 destino           MesViagem
ABADIA DOS DOURADOS/MG CAMPINAS/SP       05/2019    3100104.0  3509502.0
                       SAO PAULO/SP      07/2019    3100104.0  3550308.0
ABADIANIA/GO           ALEXANIA/GO       01/2019    5200100.0  5200308.0
                                         02/2019    5200100.0  5200308.0
                                         03/2019    5200100.0  5200308.0
...                                                       ...        ...
ZORTEA/SC              BELO HORIZONTE/MG 11/2019    4219853.0  3106200.0
                                         12/2019    4219853.0  3106200.0
                       FLORIANOPOLIS/SC  01/2020    4219853.0  4205407.0
                                         11/2019    4219853.0  4205407.0
                                         12/2019    4219853.0  4205407.0

[275539 rows x 3 columns]

In [ ]:
vendas_df['cod_cidade'] = vendas_df[['Origem','UFOrigem']].map(lambda a: municipios[municipios[['cidade','uf']] == a]['cod_mun'].item())

In [ ]:
def match_codigo(cidade, estado):
    return cidade+estado

In [ ]:
vendas_df["cod_cidade"] = vendas_df.apply(lambda linha: match_codigo(linha.Origem, linha.UFOrigem) , axis= 1)
display(vendas_df)

In [ ]:
from os import walk
files_covid = next(walk('../data/dados_covid/'), (None, None, []))[2] 

lista_df = [pd.read_csv('../data/dados_covid/' + file, sep=";") for file in files_covid]
df_covid = pd.concat(lista_df)