In [1]:
import pandas as pd
df = pd.read_excel("PesquisaOD_2016_2017.xlsx", sheet_name=['BD_1PNT2016','BD_2PNT2016','BD_1PNT2017','BD_2PNT2017'])
#Separando abas do arquivo
df2 = df ['BD_1PNT2016']
df3 = df['BD_2PNT2016']
df4 = df['BD_1PNT2017']
df5= df['BD_2PNT2017']

In [2]:
df_merged = pd.concat([df2, df3])
df_merged = df_merged.loc[:, [ 'POrigem', 'MOrigem', 'UFOrigem','GeocodOrigem', 'PDestino', 'MDestino', 'UFDestino','GeocodDestino', 'FreqPeriodo','FreqQnt','Classe', 'QtdPessoasVeic','considerar_parOD?','considerar_socio?']] 

df_merged2 = pd.concat([df4, df5])
df_merged2 = df_merged2.loc[:, [ 'POrigem', 'MOrigem', 'UFOrigem','GeocodOrigem', 'PDestino', 'MDestino', 'UFDestino','GeocodDestino', 'FreqPeriodo','FreqQnt','Classe', 'QtdPessoasVeic','considerar_parOD?','considerar_socio?']] 
#Retirando origens e destinos que são diferentes do Brasil
df_merged = df_merged.drop(df_merged[df_merged['PDestino'] != 'Brasil'].index)
df_merged = df_merged.drop(df_merged[df_merged['POrigem'] != 'Brasil'].index)
df_merged = df_merged.drop(df_merged[df_merged['FreqPeriodo'] == 'Informação não registrada'].index)
df_merged = df_merged.drop(df_merged[df_merged['QtdPessoasVeic'] == 'Informação não registrada'].index)
df_merged = df_merged.drop(df_merged[df_merged['considerar_parOD?'] == '0'].index)
df_merged = df_merged.drop(df_merged[df_merged['considerar_socio?'] == '0'].index)
df_merged = df_merged.dropna(subset=['QtdPessoasVeic'])
df_merged['FreqQnt'] = df_merged['FreqQnt'].replace('>10', 11)

#Retirando origens e destinos que são diferentes do Brasil
df_merged2 = df_merged2.drop(df_merged2[df_merged2['PDestino'] != 'Brasil'].index)
df_merged2 = df_merged2.drop(df_merged2[df_merged2['POrigem'] != 'Brasil'].index)
df_merged2 = df_merged2.drop(df_merged2[df_merged2['FreqPeriodo'] == 'Informação não registrada'].index)
df_merged2 = df_merged2.drop(df_merged2[df_merged2['QtdPessoasVeic'] == 'Informação não registrada'].index)
df_merged2 = df_merged2.drop(df_merged2[df_merged2['considerar_parOD?'] == '0'].index)
df_merged2 = df_merged2.drop(df_merged2[df_merged2['considerar_socio?'] == '0'].index)
df_merged2 = df_merged2.dropna(subset=['QtdPessoasVeic'])
df_merged2['FreqQnt'] = df_merged2['FreqQnt'].replace('>10', 11)

geral2016=df_merged
geral2017=df_merged2
display(geral2016)
display(geral2017)

,POrigem,MOrigem,UFOrigem,GeocodOrigem,PDestino,MDestino,UFDestino,GeocodDestino,FreqPeriodo,FreqQnt,Classe,QtdPessoasVeic,considerar_parOD?,considerar_socio?
0,Brasil,Seberi,RS,4320206.0,Brasil,Tramandaí,RS,4321600.0,Mês,1,P3,2,1,1
1,Brasil,São José do Inhacorá,RS,4318499.0,Brasil,Seberi,RS,4320206.0,Mês,1,P3,2,1,1
3,Brasil,Palmitinho,RS,4313805.0,Brasil,Jaboticaba,RS,4310850.0,Mês,1,P1,3,1,1
4,Brasil,Seberi,RS,4320206.0,Brasil,Palmeira das Missões,RS,4313706.0,Semana,1,P3,2,1,1
5,Brasil,Pinheirinho do Vale,RS,4314498.0,Brasil,Esteio,RS,4307708.0,Ano,1,P1,3,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296931,Brasil,Colinas,MA,2103505.0,Brasil,Passagem Franca,MA,2107902.0,Dia,2,M,2,1,1
296933,Brasil,Colinas,MA,2103505.0,Brasil,Parnarama,MA,2107803.0,Semana,1,P1,3,1,1
296934,Brasil,São Luis,MA,2111300.0,Brasil,São João dos Patos,MA,2111102.0,Mês,1,M,1,1,1
296935,Brasil,Colinas,MA,2103505.0,Brasil,Parnarama,MA,2107803.0,Dia,1,P1,2,1,1
296936,Brasil,Colinas,MA,2103505.0,Brasil,Parnarama,MA,2107803.0,Dia,1,P1,3,1,1

,POrigem,MOrigem,UFOrigem,GeocodOrigem,PDestino,MDestino,UFDestino,GeocodDestino,FreqPeriodo,FreqQnt,Classe,QtdPessoasVeic,considerar_parOD?,considerar_socio?
0,Brasil,Imperatriz,MA,2105302.0,Brasil,Altamira,PA,1500602.0,Ano,6,P1,3,1,1
2,Brasil,Marabá,PA,1504208.0,Brasil,Marabá,PA,1504208.0,Mês,22,P1,1,1,1
4,Brasil,São Domingos do Araguaia,PA,1507151.0,Brasil,Conceição do Araguaia,PA,1502707.0,Mês,1,P1,1,1,1
5,Brasil,Marabá,PA,1504208.0,Brasil,Marabá,PA,1504208.0,Mês,26,P1,1,1,1
6,Brasil,São João do Araguaia,PA,1507508.0,Brasil,Marabá,PA,1504208.0,Semana,3,M,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348451,Brasil,São Paulo,SP,3550308.0,Brasil,Teófilo Otoni,MG,3168606.0,Ano,5,P1,2,1,1
348452,Brasil,Oliveira,MG,3145604.0,Brasil,Carmópolis de Minas,MG,3114501.0,Mês,4,P1,4,1,1
348453,Brasil,Santo Antônio do Amparo,MG,3159902.0,Brasil,Passa Tempo,MG,3147709.0,Semana,4,P1,2,1,1
348454,Brasil,Lavras,MG,3138203.0,Brasil,Piracema,MG,3150604.0,Semana,4,P1,2,1,1
348455,Brasil,Patis,MG,3147956.0,Brasil,Cachoeira de Minas,MG,3109709.0,Ano,1,P1,2,1,1

In [3]:
def multiplicar_frequencia(row):
    quantidade_pessoas = row['QtdPessoasVeic']
    frequencia = row['FreqPeriodo']
    frequenciaQtd = row['FreqQnt']

    if frequencia == 'Semana':
        return quantidade_pessoas*(frequenciaQtd * 52) 
    elif frequencia == 'Dia':
        return quantidade_pessoas*(frequenciaQtd * 365)
    elif frequencia == 'Mes':
        return quantidade_pessoas*(frequenciaQtd * 12)
    else: #ano ou eventualmente!
        return quantidade_pessoas
geral2016['FreqSem'] = geral2016.apply(multiplicar_frequencia, axis=1)

geral2017['FreqSem'] = geral2017.apply(multiplicar_frequencia, axis=1)

In [4]:
geral2016 = geral2016.groupby(['GeocodOrigem','GeocodDestino']).agg({'MOrigem':'first','UFOrigem' :'first','MDestino':'first','UFDestino' :'first','FreqSem':'sum','QtdPessoasVeic':'sum'})
geral2017 = geral2017.groupby(['GeocodOrigem','GeocodDestino']).agg({'MOrigem':'first','UFOrigem' :'first','MDestino':'first','UFDestino' :'first','FreqSem':'sum','QtdPessoasVeic':'sum'})
geral2016['PessoasAno'] = geral2016['FreqSem'] * geral2016['QtdPessoasVeic']
geral2017['PessoasAno'] = geral2017['FreqSem'] * geral2017['QtdPessoasVeic']

display(geral2017)
display(geral2016)

dnitTotal = pd.concat([geral2016, geral2017], ignore_index=False)

dnitTotal

                                          MOrigem UFOrigem  \
GeocodOrigem GeocodDestino
1100015.0    1100015.0      Alta Floresta D'Oeste       RO
             1100023.0      Alta Floresta D'Oeste       RO
             1100049.0      Alta Floresta D'Oeste       RO
             1100122.0      Alta Floresta D'Oeste       RO
             1100205.0      Alta Floresta D'Oeste       RO
...                                           ...      ...
5300108.0    5221601.0                   Brasília       DF
             5221700.0                   Brasília       DF
             5221809.0                   Brasília       DF
             5222203.0                   Brasília       DF
             5300108.0                   Brasília       DF

                                         MDestino UFDestino  FreqSem  \
GeocodOrigem GeocodDestino
1100015.0    1100015.0      Alta Floresta D'Oeste        RO       17
             1100023.0                  Ariquemes        RO        1
             1100049.0                     Cacoal        RO     1338
             1100122.0                  Ji-Paraná        RO      420
             1100205.0                Porto Velho        RO       10
...                                           ...       ...      ...
5300108.0    5221601.0                     Uruaçu        GO        6
             5221700.0                     Uruana        GO     4817
             5221809.0                     Urutaí        GO        3
             5222203.0                   Vila Boa        GO     2379
             5300108.0                   Brasília        DF     1614

                           QtdPessoasVeic PessoasAno
GeocodOrigem GeocodDestino
1100015.0    1100015.0                 17        289
             1100023.0                  1          1
             1100049.0                 48      64224
             1100122.0                  8       3360
             1100205.0                 10        100
...                                   ...        ...
5300108.0    5221601.0                  6         36
             5221700.0                 37     178229
             5221809.0                  3          9
             5222203.0                 52     123708
             5300108.0                 53      85542

[115349 rows x 7 columns]

                                          MOrigem UFOrigem        MDestino  \
GeocodOrigem GeocodDestino
1100015.0    1100023.0      Alta Floresta D'Oeste       RO       Ariquemes
             1100122.0      Alta Floresta D'Oeste       RO       Ji-Paraná
             1100189.0      Alta Floresta D'Oeste       RO   Pimenta Bueno
             1100205.0      Alta Floresta D'Oeste       RO     Porto Velho
             1100288.0      Alta Floresta D'Oeste       RO  Rolim de Moura
...                                           ...      ...             ...
5300108.0    5221700.0                   Brasília       DF          Uruana
             5221809.0                   Brasília       DF          Urutaí
             5222005.0                   Brasília       DF      Vianópolis
             5222302.0                   Brasília       DF   Vila Propício
             5300108.0                   Brasília       DF        Brasília

                           UFDestino  FreqSem QtdPessoasVeic PessoasAno
GeocodOrigem GeocodDestino
1100015.0    1100023.0            RO        4              4         16
             1100122.0            RO      104              1        104
             1100189.0            RO        2              2          4
             1100205.0            RO        1              1          1
             1100288.0            RO        5              5         25
...                              ...      ...            ...        ...
5300108.0    5221700.0            GO       54              3        162
             5221809.0            GO        7              7         49
             5222005.0            GO        4              4         16
             5222302.0            GO        2              2          4
             5300108.0            DF     1296             54      69984

[68173 rows x 7 columns]

                                          MOrigem UFOrigem        MDestino  \
GeocodOrigem GeocodDestino
1100015.0    1100023.0      Alta Floresta D'Oeste       RO       Ariquemes
             1100122.0      Alta Floresta D'Oeste       RO       Ji-Paraná
             1100189.0      Alta Floresta D'Oeste       RO   Pimenta Bueno
             1100205.0      Alta Floresta D'Oeste       RO     Porto Velho
             1100288.0      Alta Floresta D'Oeste       RO  Rolim de Moura
...                                           ...      ...             ...
5300108.0    5221601.0                   Brasília       DF          Uruaçu
             5221700.0                   Brasília       DF          Uruana
             5221809.0                   Brasília       DF          Urutaí
             5222203.0                   Brasília       DF        Vila Boa
             5300108.0                   Brasília       DF        Brasília

                           UFDestino  FreqSem QtdPessoasVeic PessoasAno
GeocodOrigem GeocodDestino
1100015.0    1100023.0            RO        4              4         16
             1100122.0            RO      104              1        104
             1100189.0            RO        2              2          4
             1100205.0            RO        1              1          1
             1100288.0            RO        5              5         25
...                              ...      ...            ...        ...
5300108.0    5221601.0            GO        6              6         36
             5221700.0            GO     4817             37     178229
             5221809.0            GO        3              3          9
             5222203.0            GO     2379             52     123708
             5300108.0            DF     1614             53      85542

[183522 rows x 7 columns]

In [5]:
dnitTotal = dnitTotal.groupby(['GeocodOrigem','GeocodDestino']).agg({'MOrigem':'first','UFOrigem' :'first','MDestino':'first','UFDestino' :'first','PessoasAno':'mean'})

display(dnitTotal)
#geral2016.to_csv('DNIT2016.csv', index=True)
#geral2017.to_csv('DNIT2017.csv', index=True)

dnitTotal.to_csv('DNIT.csv', index=True)

                                          MOrigem UFOrigem  \
GeocodOrigem GeocodDestino
1100015.0    1100015.0      Alta Floresta D'Oeste       RO
             1100023.0      Alta Floresta D'Oeste       RO
             1100049.0      Alta Floresta D'Oeste       RO
             1100122.0      Alta Floresta D'Oeste       RO
             1100189.0      Alta Floresta D'Oeste       RO
...                                           ...      ...
5300108.0    5221809.0                   Brasília       DF
             5222005.0                   Brasília       DF
             5222203.0                   Brasília       DF
             5222302.0                   Brasília       DF
             5300108.0                   Brasília       DF

                                         MDestino UFDestino  PessoasAno
GeocodOrigem GeocodDestino
1100015.0    1100015.0      Alta Floresta D'Oeste        RO       289.0
             1100023.0                  Ariquemes        RO         8.5
             1100049.0                     Cacoal        RO     64224.0
             1100122.0                  Ji-Paraná        RO      1732.0
             1100189.0              Pimenta Bueno        RO         4.0
...                                           ...       ...         ...
5300108.0    5221809.0                     Urutaí        GO        29.0
             5222005.0                 Vianópolis        GO        16.0
             5222203.0                   Vila Boa        GO    123708.0
             5222302.0              Vila Propício        GO         4.0
             5300108.0                   Brasília        DF     77763.0

[169661 rows x 5 columns]

In [6]:
coluna_alvo = "QtdPessoasVeic"  # Substitua pelo nome real da coluna

# Calcula a média dos valores na coluna
media = geral2016[coluna_alvo].mean()
media2 = geral2017[coluna_alvo].mean()
desvio_padrao = geral2016[coluna_alvo].std()
desvio_padrao2 = geral2017[coluna_alvo].std()

print("Média 2016:", media)
print("Média 2017:", media2)

print("Desvio Padrão 2016:", desvio_padrao)

print("Desvio Padrão 2017:", desvio_padrao2)

Média 2016: 13.543030231909993
Média 2017: 14.873496952726075
Desvio Padrão 2016: 88.16834316356767
Desvio Padrão 2017: 92.59151142648139

substituir rodoviário por IBGE(Hidro e rodovia) e DNIT + deixar aereo